{{ form.hidden_tag() }}

<div class="form-group {% if form.title.errors %}has-error{% endif %}">
    {{ form.title.label(class='col-sm-1 control-label') }}
    <div class="col-sm-11">
        {{ form.title(required=true, class='form-control') }}
        {% if form.title.errors %}
            <span class="help-block">{{ form.title.errors|join(', ') }}</span>
        {% endif %}
    </div>
</div>

<div class="form-group {% if form.url.errors %}has-error{% endif %}">
    {{ form.url.label(class='col-sm-1 control-label') }}
    <div class="col-sm-11">
        {{ form.url(required=true, class='form-control') }}
        {% if form.url.errors %}
            <span class="help-block">{{ form.url.errors|join(', ') }}</span>
        {% endif %}
    </div>
</div>

<div class="form-group">
    {{ form.tags.label(class='col-sm-1 control-label') }}
    <div class="col-sm-11">
        {{ form.tags(class='form-control') }}
    </div>
</div>

<div class="form-group {% if form.description.errors %}has-error{% endif %}">
    {{ form.description.label(class='col-sm-1 control-label') }}
    <div class="col-sm-11">
        {{ form.description(rows=10, class='form-control') }}
        {% if form.description.errors %}
            <span class="help-block">{{ form.description.errors|join(', ') }}</span>
        {% endif %}
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
        <div class="checkbox">
            <label>
                {{ form.public }} {{ form.public.label.text }}
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
        <div class="checkbox">
            <label>
                {{ form.archive }} {{ form.archive.label.text }}
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
        <button type="submit" class="btn btn-default">Enregistrer</button>
    </div>
</div>
