body {
    padding-top: 50px;
    background-color: #ededed;
}

.navbar-inverse {
    background-color: #535353;
    border: 0;
    box-shadow: 0 2px 9px 0 #656565;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #A3DE38;
}

.left-menu {
    box-shadow: 2px 0 9px 0 #656565;
    background-color: #af9877;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 50px;
    padding: 20px;
    z-index: 1000;
}

.left-menu.private-left-menu {
    background-color: white;
}

.left-menu p {
    padding-left: 20px;
    padding-right: 20px;
}

.left-menu h3 {
    color: #9C9C9C;
    font-size: 18px;
    margin-top: 0;
}

.left-menu h2 {
    color: #FF5132;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.left-menu .avatar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.left-menu ul {
    list-style-type: none;
    padding: 0;
}

.left-menu a,
.left-menu a:hover,
.left-menu a:focus {
    color: #333;
    font-weight: bold;
}

.left-menu form a,
.left-menu form a:hover,
.left-menu form a:focus {
    font-weight: normal;
}

.signup {
    background-color: #FF5132;
    padding: 15px;
    box-shadow: 0 -2px 9px 0 #656565, 0 2px 9px 0 #656565;
    margin-bottom: 10px;
}

.signup::before {
    position: relative;
    top: 0;
    left: 0;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Déjà utilisateur ?";
}

.signup div:nth-of-type(2) {
    padding-top: 10px;
}

.signin {
    max-width: 330px;
    padding: 15px;
    margin: 40px auto;
    background-color: #FF5132;
    box-shadow: 0 -2px 9px 0 #656565, 0 2px 9px 0 #656565;
}

.row h1 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    padding-left:15px;
    height: 33px;
    line-height: 33px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.row h1 small {
    font-size: 12px;
    font-weight: bold;
}

.bookmarks {
    margin-top: 33px;
}

.bookmarks .date {
    font-size: 14px;
    font-weight: bold;
    color: #434343;
    text-transform: uppercase;
    display:inline-block;
    position:relative;
    padding-left: 15px;
}

.bookmarks .date::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 8px;
    border-color: transparent transparent transparent #888888;
}

.bookmarks .caption h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.bookmarks .caption h4 a {
    color: #434343;
    font-weight: bold;
}

.bookmark {
    margin-bottom: 10px;
}

.bookmark .user {
    margin: 0;
    font-size: 12px;
}

.bookmark .user img {
    max-height: 20px;
}

.bookmark .user a,
.bookmark .user a:hover,
.bookmark .user a:focus {
    color: #5cb85c;
    font-weight: bold;
}

.bookmark .referrer,
.bookmark .referrer a,
.bookmark .referrer a:hover,
.bookmark .referrer a:focus {
    font-weight: normal;
    color: #666;
}

.right-menu {
    box-shadow: -2px 0 9px 0 #656565;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 83px;
    padding: 20px;
    z-index: 1000;
}

.right-menu h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}

.right-menu h3:first-of-type {
    margin-top: 0;
}

.right-menu .most-active-user img {
    max-height: 40px;
    margin-right: 10px;
}

.right-menu .most-active-user a,
.right-menu .most-active-user a:hover,
.right-menu .most-active-user a:focus {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.foreground-public {
    color: #5cb85c;
}

.background-public {
    background-color: #5cb85c;
}

.background-private {
    background-color: #FF5132;
}

.foreground-private {
    color: #FF5132;
}
