body {
    padding-top: 50px;
    background-color: #EDEDED;
}

.navbar-inverse {
    background-color: #535353;
    border: 0;
    box-shadow: 0 2px 9px 0 #656565;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #A3DE38;
}

.main-container {
    padding: 20px;
}

.left-menu {
    box-shadow: 2px 0 9px 0 #656565;
    background-color: #af9877;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 50px;
    padding: 20px 0 0 0;
    z-index: 1000;
}

.left-menu p {
    padding-left: 20px;
    padding-right: 20px;
}

.left-menu .signup {
    background-color: #FF5132;
    padding: 15px;
    box-shadow: 0 -2px 9px 0 #656565, 0 2px 9px 0 #656565;
    margin-bottom: 10px;
}

.left-menu .signup div:first-of-type {
    padding-top: 10px;
}

.left-menu .signup::before {
    position: relative;
    top: 0;
    left: 0;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
}

.bookmarks .date {
    font-size: 14px;
    font-weight: bold;
    color: #434343;
    text-transform: uppercase;
    display:inline-block;
    position:relative;
    padding-left: 15px;
}

.bookmarks .date::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -3px;
    border: solid 8px;
    border-color: transparent transparent transparent #888888;
}

.bookmarks .caption h4 a {
    color: #434343;
    font-weight: bold;
}

.right-menu {
    box-shadow: -2px 0 9px 0 #656565;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 50px;
    padding: 20px;
    z-index: 1000;
}
