{% extends "layout/main.html" %}

{% block content %}
    <div class="sidebar left-menu {{ 'private-left-menu col-md-2' if current_user.is_authenticated() else 'col-md-3' }}">{% include 'layout/left_menu.html' %}</div>
    <h1 class="{{ 'col-md-offset-2' if current_user.is_authenticated() else 'col-md-offset-3' }} {{ background_style }}">bookmarks {{ scope }}</h1>
    <div class="{{ 'col-md-7 col-md-offset-2' if current_user.is_authenticated() else 'col-md-6 col-md-offset-3' }} bookmarks">
        {% include 'layout/alert.html' %}
        {% for group in bookmarks|group_by_date('published', '%Y-%m-%dT%H:00:00')|reverse %}
            <div class="row">
                <h5 class="date">{{ group.grouper|humanize }}</h5>
            </div>

            {% for bookmark in group.list|reverse %}
                {% include "bookmarks/item.html" %}
            {% endfor %}

        {% endfor %}
    </div>
    <div class="col-md-3 sidebar right-menu">
        <h3>Tags <span class="{{ foreground_style }}">{{ scope }}</span></h3>
        {% for tag in tags %}
            <a href="{{ url_for('bookmarks.bookmarks_by_tags', tag=tag._id) }}" class="tag-cloud label label-success">{{ tag._id }}</a>
        {% endfor %}
        <h3>Utilisateurs <span class="foreground-public">actif</span></h3>
        {% for user in users %}
            <p class="most-active-user"><img src="{{ user._id.email | gravatar }}"/> <a href="#">{{ user._id.nickname }}</a></p>
        {% endfor %}
    </div>
{% endblock %}
