{% extends "layout/main.html" %}

{% block content %}
    <div class="sidebar left-menu private-left-menu col-md-2">{% include 'layout/left_menu.html' %}</div>
    <h1 class="col-md-offset-2 background-private">outils</h1>
    <div class="col-md-4 col-md-offset-2 bookmarks tools">
        <ul class="nav">
            <li class="active"><a href="#">bookmarklet</a></li>
            <li><a href="#">importer</a></li>
            <li><a href="#">exporter</a></li>
            <li><a href="#">vider</a></li>
        </ul>
    </div>

    <div class="col-md-6 sidebar right-menu">
       <h3>bookmarklet</h3>
        <p>Les bookmarklets simplifient votre vie. Déposez ce lien dans la barre d'outils de votre navigateur. Lorsque vous cliquerez dessus, cela ouvrira une pop-up avec les informations principales pré-remplies. Vous n'aurez plus qu'a compléter puis poster.</p>
        <p>Astuce: vous pouvez séléctionner un morceau de texte avant de cliquer sur le bouton "markme +", il apparaitra dans la description.</p>
        <p>Déposez le lien ci-dessous dans la barre d'outils de votre navigateur</p>
        <p><a href="javascript:(function() { {% include('bookmarklet.js') %} })();" class="btn btn-primary btn-xs">marke.me +</a></p>
    </div>

{% endblock %}
