{% extends "tools/common.html" %}
{% set active_page = "bookmarklet" %}

{% block tools_content %}
    <h3>bookmarklet</h3>
    <p>Les bookmarklets simplifient votre vie. Déposez ce lien dans la barre d'outils de votre navigateur. Lorsque vous cliquerez dessus, cela ouvrira une pop-up avec les informations principales pré-remplies. Vous n'aurez plus qu'a compléter puis poster.</p>
    <p>Astuce: vous pouvez séléctionner un morceau de texte avant de cliquer sur le bouton "markme +", il apparaitra dans la description.</p>
    <p>Déposez le lien ci-dessous dans la barre d'outils de votre navigateur</p>
    <p><a href="javascript:(function() { {% include('bookmarklet.js') %} })();" class="btn btn-primary btn-xs">mark.me +</a></p>
{% endblock %}
