<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marke.me</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <form class="pure-form bookmarklet" method="post" action="{{url_for('bookmark.create_bookmark')}}">
        {{ form.hidden_tag() }}

        <table>
            <tr>
                <td class="label">{{ form.title.label }}</td>
                <td>
                    {{ form.title(required=true) }}
                    {% if form.title.errors %}
                    {{ form.title.errors|join(', ') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="label">{{ form.url.label }}</td>
                <td>
                    {{ form.url(required=true) }}
                    {% if form.url.errors %}
                    {{ form.url.errors|join(', ') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="label">{{ form.tags.label }}</td>
                <td>
                    {{ form.tags() }}
                </td>
            </tr>
            <tr>
                <td class="label">{{ form.description.label }}</td>
                <td>
                    {{ form.description(rows=10) }}
                </td>
            </tr>
        </table>

        <button type="submit" class="pure-button pure-button-primary">Enregistrer</button>
    </form>
</body>
</html>