<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marke.me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bookmarklet.css')}}">
</head>
<body>
    <div class="container-fluid">
        <form class="form-horizontal" role="form" method="post" action="{{url_for('bookmarks.add_bookmark')}}">
            {% include 'form/bookmark.html' %}
        </form>
    </div>
</body>
</html>
