{% extends "layout.html" %}

{% block content %}

    {% for bookmark in bookmarks %}
    <div id="list" class="pure-u-1">
        <div class="bookmark-item bookmark-item-selected pure-g">
            <div class="pure-u">
                <img class="bookmark-avatar" height="80" width="80" src="http://dummyimage.com/80">
            </div>

            <div class="pure-u-2-3">
                <h5 class="bookmark-date">Il y a un jour</h5>
                <h4 class="bookmark-subject">{{ bookmark.title }}</h4>
                <p class="bookmark-desc">{{ bookmark.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="main" class="pure-u-1">
        <div class="bookmark-content">
            <div class="bookmark-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="bookmark-content-title">Home - Chai</h1>
                    <p class="bookmark-content-subtitle">
                        <span>3:56pm, April 3, 2012</span>
                    </p>
                </div>

                <div class="bookmark-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button"><i class="fa fa-twitter fa-2x"></i></button>
                    <button class="secondary-button pure-button"><i class="fa fa-facebook fa-2x"></i></button>
                    <button class="secondary-button pure-button"><i class="fa fa-envelope fa-2x"></i></button>
                </div>
            </div>

            <div class="bookmark-content-body">
                Chai Assertion Library Guide API Plugins Chai is a BDD / TDD assertion library for node and the browser that can be delightfully paired with any javascript testing framework. Download Chai v1.9.1 for Node Another platform? Browser Rails The chai package is available on npm. $ npm install chai View Node Guide for Browser Another platform? Node Rails The chai.js script is available for download or a hotlink. Download chai.js View Browser Guide for Rails Another platform? Node Browser Chai is avai...
            </div>
        </div>
    </div>
{% endblock %}