{% extends "layout.html" %}

{% block content %}

    {% for bookmark in bookmarks %}
    <div class="row">
        <h5 class="date">{{ bookmark.date|humanize }}</h5>

        <div class="col-md-3">
            <a href="{{ bookmark.url|safe }}" target="_blank" class="thumbnail">
                <img class="bookmark-avatar" src='http://custom.pagepeeker.com/thumbs.php?size=m&url={{ bookmark.url|safe }}'>
            </a>
        </div>
        <div class="col-md-9 caption">
            <h4><a href="{{ bookmark.url|safe }}" target="_blank">{{ bookmark.title }}</a></h4>
            <p>{{ bookmark.description }}</p>
            <p>
                {% for tag in bookmark.tags %}
                    <a href="#" class="btn btn-success btn-xs">{{ tag }}</a>
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}

{% endblock %}
