{% extends "layout/main.html" %}

{% block content %}

    {% for group in bookmarks|group_by_date('published', '%Y-%m-%dT%H:00:00')|reverse %}
        <div class="row">
            <h5 class="date">{{ group.grouper|humanize }}</h5>
        </div>

        {% for bookmark in group.list %}
        <div class="row">
            <div class="col-md-3">
                <a href="{{ bookmark.url|safe }}" target="_blank" class="thumbnail">
                    <img class="bookmark-avatar" src='http://custom.pagepeeker.com/thumbs.php?size=m&url={{ bookmark.url|safe }}'>
                </a>
            </div>
            <div class="col-md-9 caption">
                <h4><a href="{{ bookmark.url|safe }}" target="_blank">{{ bookmark.title }}</a></h4>
                <p>{{ bookmark.description }}</p>
                <p>
                    {% for tag in bookmark.tags %}
                        <a href="#" class="btn btn-success btn-xs">{{ tag }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}

    {% endfor %}

{% endblock %}
