<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marke.me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="{{url_for('main.index')}}">marke.me</a></div>
            <div id="navbar" class="collapse navbar-collapse">
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Rechercher">
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('main.bookmarks')}}">Bookmarks public</a></li>
                    <!--<li class="active"><a href="#contact">Contact</a></li>-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-md-3 sidebar left-menu">{% include 'layout/left_menu.html' %}</div>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
